package config

import (
	"golang.org/x/oauth2"
)

// Server address
var SrvAddr  = ":8000"

// Secure cookie
var HashKey  = []byte("secret-hash-key")

// Session name
var SessionName = "geb-session"

// Google OAuth
var OAuthConfig = &oauth2.Config{
	ClientID:     "client-id",
	ClientSecret: "client-secret",
	RedirectURL:  "http://<domain>/login/callback",
	Scopes:       []string{"openid", "name", "email", "nickname"},
	Endpoint: oauth2.Endpoint{
		AuthURL:  "https://<auth0-domain>/authorize",
		TokenURL: "https://<auth0-domain>/oauth/token",
	},
}

// MongoDB server
var MongoServer   = "localhost"
var MongoDatabase = "geb"

// Admins
var Administrators = []string{"admin@example.com"}